@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body, html {
	color:#333;
	line-height: 1.3em;
}
#wrapper {
	width:85%;
	max-width:950px;
	min-width:500px;
	margin:50px auto;
}
a:link, a:visited {
	color:#333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #0194BE;
}
#nav {
	font-family: arial, helvetica, sans-serif;
	margin:15px 0px;
	width:100%;
}
#nav .nav-label {
	display: block;
	float:left;
	background-color:#333;
	padding:10px;
	color:#fff;
	width:18%;
	min-width:180px;
	margin-right: 10px;
}
#nav .nav-content {
	display: block;
	background-color:#e6e6e6;
	padding:10px 10px 10px 20px;
}
#nav a {
	color: #0194BE;
	padding: 5px;
}
#nav a.selected {
	color:#333;
	font-weight: bold;
}
h1 {
	font-family: arial, helvetica, sans-serif;
	line-height:1.3em;
}
h2 {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding:15px 0px 0px 0px;
	line-height: 1.5em;
}
.entypo-down-dir {
	color: #0194BE;
	display: inline-block;
	font-size:1.9em;
	cursor: pointer;
	margin:0px 15px 0px 0px;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
}
.open {
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
}
.tag {
	padding:5px;
	margin: 10px 10px 0px 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
}
ul {
	list-style: none;
	display: none;
}
li {
	font-family: georgia, 'times new roman', times, serif;
	font-size: 13px;
	margin:5px 0px;
}
.date {
	color:#999;
	margin-right:40px;
	font-family: courier, monospace;
}
