body,html {
	font-family: Arial, Helvetica, sans-serif;
}

#entity_table .entity_name {
	border: none;
	font-size: 1em;
	text-align: left;
}
#entity_table #header td{
	font-size: 1em;
	font-weight: bold;
/*	display: none;
*/}
#entity_table #header td:first-child {
	display: block;
}
#entity_table #header td:last-child {
	display: block;
}
#entity_table tr {
	margin:10px;
}
#entity_table td {
	text-align: center;
	font-size: 2em;
	border:none;
	margin:3px;
	padding: 0px 7px;
}
.topic {
	color: red;
}
.nyt_per {
	color: blue;
}
.nyt_geo {
	color: green;
}
.nyt_org, .nyt_org_all {
	color: orange;
}