/* GENERAL */
body,html {
	font-family: Georgia, serif;
}
#wrapper {
	width:90%;
	min-width:1000px;
	margin:30px auto;
}
.clear {
	clear: both;
}
.red {
	color: #ED1C24;
}

/* NAV */
#title {
	float: left;
	font-size: 1.5em;
}
#nav {
	float: right;
	list-style: none;
	margin: 10px 0px 50px 0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
}
#nav li {
	display: inline-block;
	margin: 0px 0px 0px 20px;
}
#nav li:hover {
	cursor: pointer;
}

/* TIMELINE */
#timeline {
	width:100%;
	text-align:center; 
	border-bottom: 1px solid #000; 
	line-height:0.1em; 
	margin:30px 0 10px;
}
.date {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}
#begin_date {
	float:left;
	background:#fff; 
	padding:0px 10px 0px 0px; 
}
#end_date {
	float:right;
	background:#fff; 
	padding:0px 0px 0px 10px; 
}
#points {
	position: absolute;
	height: 7px;
	margin-top: -3.5px;
}
.pt {
	height: 7px;
	display: inline-block;
	margin: 0px 1px;
}
.pt.fill {
	background-color: #999;
}
.pt.nofill {
	background-color: none;
}
.pt.major {
	background-color: black;
}
.pt.on {
	background-color: #ED1C24;
	width:120%;
}
#playhead {
	background-color: #ccc;
	height: 28px;
	padding:4px;
	position: absolute;
	top:0px;
	left:0px;
	z-index: -1;
}

/* HEADLINES */
#headline {
	height:60px;
	text-align: center;
	position: absolute;
	top:350px;
	left:0px;
	width:100%;
	z-index: 1000;
}
#headline h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color:#666;
	margin-bottom: 20px;
}
#headline h1 {
	font-size: 1.3em;
}

/* ARTICLES */

#major {
	display: block;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.7em;
	color:#ccc;
	text-align: center;
	margin:10px 0px;
}
.article {
	font-size:3px;
	display: inline-block;
	width:10%;
	padding:10px;
	border-right:1px solid #ccc;
	vertical-align:top;
/*	text-align: justify;
*/}
.article:first-child {
	padding-left:0px;
}
.article:last-child {
	border:none;
	padding-right:0px;
}
.article_inner {
	opacity:0;
}
.article p {
	display: block;
	margin:3px 0px;
}
.article:hover {
	cursor: pointer;
}

/* HIGHLIGHTS */

.highlight {
	background-color: none;
}
.topic.on {
	background-color: #ED1C24;
}
.nyt_per.on {
	background-color: #ED1C24;
}
.nyt_geo.on {
	background-color: #ED1C24;
}
.nyt_org.on, .nyt_org_all.on {
	background-color: #ED1C24;
}





